* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-yellow: #f2c744;
    --accent-yellow: #f2b749;
    --off-yellow: #F2E6D0;
    --grey: #f2f2f2;
    --dark: #404040;
}

body {
    background-color: var(--off-yellow);
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-yellow);
    color: var(--dark);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

main section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
}

main section h2 {
    border-right-style: solid;
    border-color: var(--accent-yellow);
    width: 20%;
    height: 100%;
    text-align: right;
    padding: 10px 15px 30px;
    margin: 10px;
    color: var(--dark);
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.first-project {
    border: 2px solid var(--main-yellow);
    margin: 10px;
    width: 75%;
    padding: 80px 50px 20px 0px;
    float: right;
}

.later-projects {
    border: 2px solid var(--main-yellow);
    margin: 10px;
    width: 48%;
    padding: 80px 50px 20px 0px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*consolidated elements for the body content*/
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content section img {
    max-height: 200px;
}

.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer h2 {
    display: inline-block;  
    font-size: 20px;
}

.footer ul {
    display: inline-block;
    text-align: center;
}
