* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-yellow: #f2c744;
    --accent-yellow: #f2b749;
    --off-yellow: #F2E6D0;
    --grey: #f2f2f2;
    --dark: #404040;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--off-yellow);
    color: var(--dark)
}

header {
    padding: 20px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-yellow);
    color: var(--dark);
    display: flex;
    justify-content: space-between
}

header h1 {
    font-size: 54px;
    margin-left: 5%;
    align-self: center; 
}

header nav {
    padding-top: 15px;
    margin-right: 5%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header img{
    height: 100px;
    width: 100px;
    align-self: center;
    border-radius: 50%;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: row;
    flex: 1 1 30%;
}

section h2 {
    border-right-style: solid;
    border-color: var(--accent-yellow);
    border-width: 5px;
    min-width: 300px;
    font-size: 42px;
    text-align: right;
    padding: 10px 15px 30px;
    margin: 10px 20px;
    color: var(--dark);
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/Images/Hero.jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.text-boxes {
    display: inline-block;
    flex: 1;
    width: 100%;
    Margin: 10px 0px 10px;
}

.text-boxes p {
    width: 95%;
    padding: 5px 0 5px 0;
    margin: 5px;
}

.projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.proj-links {
    width: 100%;
    flex: 1;
}

.proj-1 { 
    width: 95%;
    background-image: url(../assets/Images/CSS.jpg);
    background-size: cover;
    background-position: center;
    border: 4px solid var(--accent-yellow);
    margin: 10px 0px 10px 5px;
    height: 400px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.proj-1:hover, .proj-1:hover .proj-1 p {
    box-shadow: inset 0px 0px 10px 
    var(--main-yellow);
}

.proj-1 div a{
    height: 100%;
    width: 100%;
}
.proj-1 h3 {
    background-color: var(--accent-yellow);
    width: 30%;
    position: relative;
}

.proj-1 p {
    background-color: var(--accent-yellow);
    width: 30%;
    position: relative;

}

.later-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    flex: 1 1;
    margin: 10px 0px 10px 5px;
}

.later-projects div a {
    height: 100%;
    width: 100%;
}

.later-projects div:hover {
    box-shadow: inset 0px 0px 10px 
    var(--main-yellow);
}

.card {
    width: 49%;
    height: 150px;
    border: 4px solid var(--accent-yellow);
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#proj-2 {
    background-image: url(../assets/Images/mediaProd.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#proj-3 {
    background-image: url(../assets/Images/VideoTimeline.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#proj-4 {
    background-image: url(../assets/Images/Audio.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}

#proj-5 {
    background-image: url(../assets/Images/gameDev.jpg);
    background-size: cover;
    background-position: center; 
    height: 100%;   
}

.later-projects div h3 {
    background-color: var(--accent-yellow);
    width: 40%;
}

.later-projects div p {
    background-color: var(--accent-yellow);
    width: 40%;
}

.links {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links p {
    margin: 10px;
    flex: 1 1;
    text-align: center;
    color: var(--dark);
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    ul li {
        display: block;
        margin-right: 40px;
        margin-bottom: 5px;
    }

    main section {
        flex-direction: column;
    }

    main section h2 {
        background-color: var(--main-yellow);
        text-align: center;
        margin: 0px 0px;
        border-bottom-style: solid;
    }

    .hero {
        height: 150px;
        margin-bottom: 0px;
    }

    .text-boxes {
        padding-left: 10px;
    }

    .proj-links {
        flex: 0 0;
    }
    
    .proj-1 {
        width: 99%;
    }

    .later-projects {
        width: 99%;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        padding-top: 15px;
        margin-right: 0%;
    }

    ul li {
        font-size: 12px;
        margin: 5px 0px;
        text-align: center;
    }

    .later-projects {
        display: block;
    }  

    .card {
        display: block;
        width: 100%;
    }
}